.header{
    background-color: rgb(44, 2, 42);
    height: 100px;
    display: block;
    color: white;
    padding: 20px;
}



.icon-bar{
    background-color: rgb(251, 173, 255);
}

.navbar{
    background-color: rgba(165,165,165,0.2);
}