<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="header" style="text-align: center">
        <a style="color:white"><h1>Game Of Thrones</h1></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="text-align: right"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;margin-left: 20px">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/edit']">Books
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/create']">Houses
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/about']">Chatacters
                <span class="sr-only">(current)</span>
              </a>
            </li>
           
          </ul>

        </div>
      </nav>

    </div>
  </div>

 
</div>
<router-outlet></router-outlet>