<div class="container-fluid" style="text-align:center;">
  <div style="background-color:thistle">
    <div class="row" style="text-align: center">
      <div class="col-md-4" style="font-size: 22px; color: blue;font-weight: 600;padding-top: 10px;"><h3>Books</h3></div>
      <div class="col-md-4" style="font-size: 22px; color: red;font-weight: 600;padding-top: 10px;"><h3>Houses</h3></div>
      <div class="col-md-4" style="font-size: 22px; color: green;font-weight: 600;padding-top: 10px;"><h3>Characters</h3></div>
      <br/>
      <br/>
    </div>
    <div style="text-align: center" *ngIf="allBooks.length>0 && allHouses.length>0 ">
      <div ng-app="myApp" ng-controller="orderCtrl">
        
        <div class="row" *ngFor="let book of allBooks | orderBy : 'name' , let i = index" style="padding: 10px">

          <div class="col-md-4">
            <div class="card border-primary mb-3" >
              <div class="card-header text-primary" style="font-weight: bold; font-size: 20px; height: 72px;">{{book.name | uppercase}}</div>
              <img class="card-top" src="../assets/books/{{i}}.jpg" alt="Card image cap" style="height: 250px;width: 100%">
        
              <div class="card-body">
                <p>By</p>
                <h5 class="card-title text-primary">{{book.authors}}</h5>
                <p class="card-text"></p>
                <a [routerLink]="['/blog', book.url,'books',i]" class="btn btn-primary">Book Details</a>
              </div>
            </div>
          </div>


          <div class="col-md-4">

            <div class="card border-danger mb-3" >
              <div class="card-header text-danger" style="font-weight: bold; font-size: 20px;height: 72px;">{{allHouses[i].name | uppercase}}</div>
              <img class="card-top" src="../assets/houses/{{i}}.jpg" alt="Card image cap" style="height: 250px;width: 100%">
              <div class="card-body">
                <p>Region</p>
                <h5 class="card-title text-danger">{{allHouses[i].region}}</h5>
                <p class="card-text"></p>
                <a [routerLink]="['/blog', allHouses[i].url,'houses',i]" class="btn btn-danger">House Details</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card border-success mb-3" >
              <div class="card-header text-success" style="font-weight: bold; font-size: 20px;height: 72px;">{{allCharacters[i].aliases}}</div>
              <img class="card-top" src="../assets/characters/{{i}}.jpg" alt="Card image cap" style="height: 250px;width: 100%">
              <div class="card-body">
                <p>Gender</p>
                <h5 class="card-title text-success">{{allCharacters[i].gender}}</h5>
                <p class="card-text"></p>
                <a [routerLink]="['/blog', allCharacters[i].url,'characters',i]" class="btn btn-success">Character Details</a>
              </div>
            </div>
            <br/>
          </div>

        </div>
      </div>
    </div>
  </div>

